@import url('https://fonts.googleapis.com/css?family=Wire+One');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
    margin: 0;
    padding: 0;
}

abbr {
    text-decoration: none;
}

#css-zen-garden {
    background: #ddd;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.page-wrapper {
    background: #000 url("bg.png") no-repeat;
    left: 100px;
    position: relative;
    width: 200px;
}

a:link {
    color: antiquewhite;
    text-decoration: none;
}

a:visited {
    color: burlywood;
}

a:hover {
    background: #333;
}

h1 {
    color: #000;
    font-family: 'Wire One', sans-serif;
    font-size: 80px;
    font-weight: 100;
    left: -80px;
    position: relative;
    writing-mode: tb-rl;
    opacity: .3;
}

h2 {
    color: #fff;
    font-family: 'Tangerine', serif;
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
    word-spacing: 5px;
}

.summary,
.preamble,
.main {
    background: #000;
    opacity: .8;
    width: 500px;
}

.sidebar {
    background: #000;
    height: 330px;
    left: 200px;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 300px;
}

h3 {
    padding: 20px 10px 5px;
}

p {
    padding: 3px 10px;
    line-height: 16px;
}

h3.select,
h3.archives,
h3.resources {
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
}

ul {
    list-style: none;
}

#design-selection li {
    font-size: 0;
    height: 14px;
    visibility: hidden;
}

#design-selection li a {
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    visibility: visible;
    width: 146px;
}

#design-selection li a:first-child {
    float: left;
    text-align: right;
}

#design-selection li a:last-child {
    float: right;
}

li.next,
li.viewall {
    display: inline-block;
}

li.next a,
li.viewall a {
    display: inline-block;
    width: 146px;
}

li.next a {
    float: left;
    text-align: right;
}

.indicator {
    display: none;
}

li.viewall a {
    float: right;
}

.zen-resources {
    text-align: center;
}

.requirements {
    padding-bottom: 20px;
}

footer {
    border-top: #fff 1px solid;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    padding: 10px;
}

footer a {
    margin-right: 10px;
}

@media only screen and (max-width: 500px) {
    .page-wrapper {
        background: #000 url("bg-small.png") no-repeat;
        background-size: contain;
        left: 0;
        opacity: .8;
        position: relative;
        top: 150px;
        width: 100%;
    }

    h1 {
        color: #000;
        font-family: 'Wire One', sans-serif;
        font-size: 4em;
        font-weight: 100;
        left: 0;
        line-height: 100px;
        opacity: .3;
        position: relative;
        text-align: center;
        top: -150px;
        writing-mode: horizontal-tb;
        width: 100%;
    }

    h2 {
        color: #900;
        font-family: 'Tangerine', serif;
        font-size: 1.5em;
        margin-bottom: 80px;
        position: relative;
        text-align: center;
        top: -150px;
        width: 100%;
        word-spacing: 5px;
    }

    .summary,
    .preamble,
    .main {
        background: #000;
        opacity: .8;
        width: 100%;
    }

    .sidebar {
        background: #000;
        opacity: .8;
        position: static;
        width: 100%
    }

    #design-selection li a {
        width: 48%;
    }

    li.next,
    li.viewall {
        text-align: center;
        width: 48%;
    }

    li.viewall {
        float: right;
    }

    li.next a {
        text-align: right;
        width: 100%;
    }

    li.viewall a {
        text-align: left;
        width: 100%;
    }

    footer {
        background: #000;
        border-top: #fff 1px solid;
        bottom: -41px;
        font-size: 16px;
        height: 20px;
        left: 0;
        line-height: 20px;
        padding: 10px 0;
        position: absolute;
        right: 0;
        width: 100%;
    }

    footer a:first-child {
        margin-left: 10px;
    }
}